*
!*.*
!*/

!*.cc
!*.h
!*.py
!*.ipynb
!Makefile

!/data
!/data/input/
!/data/input_fp_bin
!/data/input_fx_bin
!/data/lite
!/data/origin

*.data
*.bin
.vscode
*.o


/python/model_origin
/python/model_lite

answer.txt